body{
    background-color: rgb(10, 10, 10);
    position: absolute;
    left: 50%;
    top: 50%;
}
.landing-page{
    width:auto;
    height: auto;
    border: 1px solid aqua;
    background-color: black;
    border-radius: 10px;
}
.content{
    display: flex;
    justify-content: start;
    align-items: center;
    width: auto;
    height: auto;
    display: inline;
}
ul{
    margin-bottom: 40px;
    margin-right: 30px;
    margin-top: 10px;
}
li{
    list-style-type: none;
}
input{
    border: 1px solid rgb(1, 160, 160);
    width: 100%;
    border-radius: 3px;
}